<main class="contenedor">
  <form action="/editar-perfil" method="POST" class="default-form" enctype="multipart/form-data">
    <div class="campo">
      <label for="nombre">Nombre</label>
      <input value="{{usuarios.nombre}}" type="text" name="nombre" placeholder="Tu nombre" id="nombre" required>
    </div>
    <div class="campo">
      <label for="email">Correo Electr칩nico</label>
      <input value="{{usuarios.email}}" type="text" name="email" placeholder="Tu correo electr칩nico" id="email" required>
    </div>
    <div class="campo">
      <label for="password">Contrase침a</label>
      <input type="text" name="password" placeholder="Tu Contrase침a" id="password">
    </div>
    <div class="campo">
      <label for="imagen">Imagen</label>
      <input type="file" name="imagen" id="imagen">
    </div>
    <div class="campo">
      <input type="submit" class="btn btn-azul" value="Guardar Cambios">
    </div>
  </form>
</main>
