<main class="contenedor">
  <form method="POST" class="default-form">
    <div class="campo">
      <label for="password">Nueva contraseña</label>
      <input type="password" name="password" id="password" placeholder="Tu nueva contraseña" required>
    </div>
    <div class="campo">
      <input type="submit" value="Gaurdar Contraseña" class="btn btn-azul">
    </div>
  </form>
</main>
