<main class="contenedor">
  <form action="/reestablecer-password" method="POST" class="default-form">
    <div class="campo">
      <label for="email">Correo Electr칩nico</label>
      <input type="email" name="email" id="email" placeholder="Tu correo electr칩nico" required>
    </div>
    <div class="campo acciones">
      <a href="/crear-cuenta">Crea una Cuenta</a>
      <a href="/iniciar-sesion">Iniciar Sesi칩n</a>
    </div>
    <div class="campo">
      <input type="submit" value="Reestablecer Contrase침a" class="btn btn-azul">
    </div>
  </form>
</main>
